@import 'maplibre-gl/dist/maplibre-gl.css';
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
  --gradient-start: #f0f0f0;
  --gradient-middle: #d9d9d9;
  --gradient-end: #ffffff;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --gradient-start: #001f3f;
    --gradient-middle: #000000;
    --gradient-end: #001f3f;
  }
}

body {
  color: var(--foreground);
  background-image: url('/background.jpg'),
    linear-gradient(
      135deg,
      var(--gradient-start) 0%,
      var(--gradient-middle) 50%,
      var(--gradient-end) 100%
    );
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  min-height: 100vh;
  backdrop-filter: blur(5px);
}

::-webkit-scrollbar {
  width: 10px;
}

::-webkit-scrollbar-track {
  background: rgba(243, 244, 246, 0.1);
  border-radius: 5px;
}

::-webkit-scrollbar-thumb {
  background: rgba(156, 163, 175, 0.5);
  border-radius: 5px;
  transition: background 0.2s ease;
}

::-webkit-scrollbar-thumb:hover {
  background: rgba(156, 163, 175, 0.8);
}

@supports (scrollbar-color: auto) {
  * {
    scrollbar-color: rgba(156, 163, 175, 0.5) rgba(243, 244, 246, 0.1);
    scrollbar-width: thin;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleIn {
  from {
    transform: scale(0.95);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}
